// app
////////////////////////////////////////////////

.application
	position: relative
	display: block
	width: 100%
	height: 100%
	background: #fff

	&.active-menu
		.panel-left
			+transform(translateY(0))

			+media-query(lap)
				+transform(translateX(0))

	// clearfix
	&:before
		content: ''
		display: table

	&:after
		clear: both

// panel top
////////////////////////////////////////////////

.panel-top
	z-index: 3
	position: fixed
	display: block
	top: 0
	width: 100%
	background: #2c3e50
	border-bottom: 1px solid #34495e
	+box-shadow(0 2px 5px rgba(0,0,0,0.26))

.top-table
	position: relative
	display: table

.top-table-left,
.top-table-middle,
.top-table-right
	position: relative
	display: table-cell
	vertical-align: middle

.top-table-middle
	width: 100%
	overflow: hidden
	text-align: center

// menu icon

.menu-icon
	position: relative
	display: inline-block
	float: left
	cursor: pointer
	padding: 12px
	+open-sans
	+font-size(20px)
	text-align: center
	color: #fff
	background: #2c3e50
	+transition(all .4s ease-in-out)

	i
		+font-size(24px)

	&:hover,
	&:focus
		background: darken(#2c3e50, 5%)

// settings icon

.settings-icon
	position: relative
	display: inline-block
	width: 74px
	padding: 20px
	cursor: pointer
	+font-size(16px)
	text-align: center
	color: #fff
	background: #2c3e50
	+transition(all .4s ease-in-out)

	&:hover,
	&:focus
		background: #c0392b

// logo
.app-logo
	display: inline-block
	padding-left: 12px
	padding-right: 12px
	margin: 0
	+font-size(20px)
	text-align: center
	color: #fff

.fa-connectdevelop:before
	position: relative
	top: 1px

// panel left & right
////////////////////////////////////////////////

.panel-left,
.panel-right
	display: block
	+transition(all .4s ease-in-out)

.panel-left
	z-index: 2
	position: fixed
	height: 76px
	width: 100%
	padding: 4px
	bottom: 0
	left: 0
	background: rgba(0,0,0, .2)
	+transform(translateY(72px))

	// clearfix
	&:before
		content: ''
		display: table

	&:after
		clear: both

	+media-query(lap)
		width: 92px
		min-height: 100%
		left: 0
		+transform(translateX(-92px))

.panel-right
	z-index: 1
	position: relative
	width: 100%
	min-height: 100%
	padding: 86px 0 0 24px
	background: #ecf0f1

// application content containers
////////////////////////////////////////////////

.app-content,
.app-box
	display: block
	position: relative
	width: 100%
	padding: 12px
	margin-bottom: 24px
	+border-radius(3px)
	background: #fff
	+box-shadow(0 2px 5px rgba(0,0,0,0.1))

	+media-query(lap)
		padding: 24px

// app dock
////////////////////////////////////////////////

.app-dock
	position: relative
	display: block
	width: 100%
	height: 72px

	+media-query(lap)
		height: 100%
		min-height: 100%

.app-dock-main,
.app-dock-support
	position: absolute
	display: block

.app-dock-main
	width: 100%
	height: 72px
	padding: 4px 72px 4px 0
	overflow-x: auto

	+media-query(lap)
		height: 100%
		padding: 71px 14px 50px 4px
		top: 0
		overflow-x: visible
		overflow-y: auto

.app-dock-support
	right: 0
	bottom: 4px

	+media-query(lap)
		padding-bottom: 8px
		padding-left: 4px
		right: initial
		bottom: 0