
// TYPOGRAPHY
////////////////////////////////////////////////

// fonts
////////////////////////////////////////////////

=material
	font-family: 'icomoon'

=open-sans
	font-family: 'Open Sans', sans-serif


// headings
////////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6
	margin-top: 0
	margin-bottom: 12px

h3
	+font-size(18px)
	color: #34495e

// p
p
	margin: 0 0 12px 0
	+font-size(14px)
	color: #95a5a6