
// TYPOGRAPHY
////////////////////////////////////////////////

// fonts
////////////////////////////////////////////////

=material
	font-family: 'icomoon'

=open-sans
	font-family: 'Open Sans', sans-serif


// headings
////////////////////////////////////////////////

h3
	+font-size(16px)
	color: #2980b9